
<div class="inner inkMe {{elevation}} " >
    <div class="inner-wrap" >
        <div class='ink' ></div>
    <span class="button-text" >{{text}}</span>
    <span class="button-icon {{icon}}" ></span>

    </div>
</div>