<div class="checkbox">
  <div class="inner inkMe {{elevation}} ">
    <span class='ink'></span>
      {{svg-icon class="button-icon" icon=_currentIcon}}

  </div>
</div>
{{#if label}}
<label>{{label}}</label>
{{/if}}