<div class="checkbox">
  <div class="inner inkMe {{elevation}} ">
    <span class='ink'></span>
    <span class="button-icon {{_currentIcon}}" ></span>
  </div>
</div>
{{#if label}}
<label>{{label}}</label>
{{/if}}